<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title> 
					[% IF default %]
						Gene information for [% header %] 
					[% ELSE %]
            [% header or "Dictybase page" %] 
					[% END %]
		</title>

[% PROCESS config.tt %]

[%
	icon_link ( href = "/favicon.ico" );
	icon_link ( href = "/favicon.ico", rel = "shortcut icon");
	js_link (src = "/static/js/global.js");
	js_link (src = "/static/js/form_utils.js");
%]

[%
	yui_base = "/static/js/yui/build";
	yui_plugin_base = '/static/js/yui/plugins';
	yui_css_skin = "sam";
%]

[%
	js_link (src = "/static/js/menu_array.js");
	js_link (src = "/static/js/mmenu.js");
	css_link ( href = "/static/css/style.css");
%]

[% IF template.loader %]
		[% js_link (src = "$yui_base/yuiloader/yuiloader-min.js"); %]
[% END %]

[% IF template.error_page %]
	[% css_link ( href = "/static/css/dicty_yui.css"); %]
[% END %]

</head>
	<body class="yui-skin-sam">

[% IF species %]
	[% INCLUDE "$species/tbar.tt" %]
[% ELSE %]
	[% INCLUDE tbar.tt %]
[% END %]
