<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title> 
					[% IF default %]
						Gene information for [% header %] 
					[% ELSE %]
            [% header or "Dictybase page" %] 
					[% END %]
		</title>

[% PROCESS config.tt %]

[%
	icon_link ( href = "/favicon.ico" );
	icon_link ( href = "/favicon.ico", rel = "shortcut icon");
	js_link (src = "/inc/js/global.js");
	js_link (src = "/inc/js/form_utils.js");
%]

[%
	yui_base = "/inc/js/yui/build";
	yui_plugin_base = '/inc/js/yui/plugins';
	yui_css_skin = "sam";
%]

[% IF template.cssadd %]
		[% css_link ( href = "/inc/css/${template.cssadd}" ); %]
[% END %]

[% IF template.cssmore %]
		[% css_link ( href = "/inc/css/${template.cssmore}" ); %]
[% END %]

[% IF template.dom %]
		[% js_link (src = "$yui_base/yahoo/yahoo-min.js"); %]
		[% js_link (src = "$yui_base/dom/dom-min.js"); %]
[% END %]

[% IF template.autocomplete %]
		
		[% css_link (href = "$yui_base/autocomplete/assets/skins/sam/autocomplete.css" ); %]
		
		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/datasource/datasource-min.js"); %]
		[% js_link (src = "$yui_base/connection/connection-min.js"); %]
		[% js_link (src = "$yui_base/json/json-min.js"); %]
		
        [% js_link (src = "$yui_base/autocomplete/autocomplete-min.js"); %]
              
[% END %]

[% IF template.selector %]
			
		[% js_link (src = "$yui_base/yahoo/yahoo-min.js"); %]
        [% js_link (src = "$yui_base/selector/selector-beta-min.js"); %]
              
[% END %]

[% IF  template.json %]

		[% js_link (src = "$yui_base/yahoo/yahoo-min.js"); %]
    [% js_link (src = "$yui_base/event/event-min.js"); %]
		[% js_link (src = "$yui_base/json/json-min.js"); %]
		[% js_link (src = "$yui_base/connection/connection-min.js"); %]


[% END %]


[% IF template.history %]
        [% js_link (src = "$yui_base/event/event-min.js"); %]
		[% js_link (src = "$yui_base/history/history.js"); %]
		
[% END %]

[% IF template.logger %]
		
		[% css_link (href = "$yui_base/logger/assets/skins/sam/logger.css" ); %]
		[% css_link (href = "$yui_base/button/assets/skins/sam/button.css" ); %]

		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/logger/logger-min.js"); %]

[% END %]

[% IF template.datatable %]
		
		[% css_link (href = "$yui_base/fonts/fonts-min.css" ); %]
		[% css_link (href = "$yui_base/datatable/assets/skins/$yui_css_skin/datatable.css" ); %]

		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/element/element-beta-min.js"); %]
		[% js_link (src = "$yui_base/datasource/datasource-min.js"); %]				
		
		[% js_link (src = "$yui_base/json/json-min.js"); %]
		[% js_link (src = "$yui_base/connection/connection-min.js"); %]		
		[% js_link (src = "$yui_base/dragdrop/dragdrop-min.js"); %]

		[% js_link (src = "$yui_base/datatable/datatable-min.js"); %]

[% END %]

[% IF template.paginator %]
		
		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/element/element-beta-min.js"); %]
		[% js_link (src = "$yui_base/paginator/paginator-min.js"); %]
		
[% END %]

[% IF template.yuichart %]

		[% css_link (href = "$yui_base/fonts/fonts-min.css" ); %]
		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/element/element-beta-min.js"); %]
		[% js_link (src = "$yui_base/datasource/datasource-min.js"); %]
		[% js_link (src = "$yui_base/json/json.js"); %]
		[% js_link (src = "$yui_base/charts/charts-experimental.js"); %]

[% END %]

[% IF template.jsadd %]
		[% js_link ( src = "/inc/js/${template.jsadd}" ); %]
[% END %]

[% IF template.jsinline %]
		[% js_code ( code = template.jsinline); %]
[% END %]

[% IF template.tabview %]
		[% css_link (href = "$yui_base/tabview/assets/skins/sam/tabview.css" ); %]
		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/element/element-beta-min.js"); %]
		[% js_link (src = "$yui_base/connection/connection-min.js"); %]
		[% js_link (src = "$yui_base/tabview/tabview-min.js"); %]
[% END %]

[% IF template.container %]
		[% js_link (src = "$yui_base/yahoo-dom-event/yahoo-dom-event.js"); %]
		[% js_link (src = "$yui_base/container/container.js"); %]
[% END %]

[% IF template.dispatcher %]
		[% js_link (src = "$yui_base/get/get-min.js"); %]
		[% js_link (src = "$yui_plugin_base/dispatcher/dispatcher.js"); %]

		[% js_link (src = "$yui_base/yui/yui-min.js"); %]
[% END %]

[% IF template.accordion %]
		[% css_link (href = "$yui_base/container/assets/skins/sam/container.css" ); %]
		[% js_link (src = "$yui_base/utilities/utilities.js"); %]
		[% js_link (src = "$yui_plugin_base/bubbling/bubbling.js"); %]
		[% js_link (src = "$yui_plugin_base/accordion/accordion.js"); %]
		[% css_link (href = "$yui_plugin_base/accordion/assets/accordion.css" ); %]

[% END %]

[% IF template.tooltip %]
		[% css_link (href = "$yui_base/container/assets/skins/sam/container.css" ); %]
		[% js_link (src = "$yui_base/container/container.js"); %]
		[% js_link (src = "$yui_base/event/event-min.js"); %]
		[% js_link (src = "$yui_plugin_base/tooltips/tooltips.js"); %]

[% END %]


[% IF template.animation %]
		[% js_link (src = "$yui_base/animation/animation.js"); %]
[% END %]

[% IF template.button %]
		[% js_link (src = "$yui_base/element/element-beta-min.js"); %]
		[% css_link (href = "$yui_base/button/assets/skins/sam/button.css" ); %]
		[% css_link (href = "$yui_base/menu/assets/skins/sam/menu.css" ); %]
		[% css_link (href = "$yui_base/fonts/fonts-min.css" ); %]
		[% js_link (src = "$yui_base/container/container_core.js"); %]
		[% js_link (src = "$yui_base/button/button.js"); %]
		[% js_link (src = "$yui_base/menu/menu-min.js"); %]
[% END %]

[% IF template.grid %]

		[% css_link (href = "$yui_base/reset-fonts-grids/reset-fonts-grids.css" ); %]
		[% css_link (href = "$yui_base/grids/grids-min.css" ); %]
[% END %]	
[%
	js_link (src = "/inc/js/menu_array.js");
	js_link (src = "/inc/js/mmenu.js");
	css_link ( href = "/inc/css/style.css");
%]

[% IF template.loader %]
		[% js_link (src = "$yui_base/yuiloader/yuiloader-min.js"); %]
[% END %]

[% IF template.error_page %]
	[% css_link ( href = "/inc/css/dicty_yui.css"); %]
[% END %]

</head>
	<body class="yui-skin-sam">

[% INCLUDE tbar.tt %]
