        <div id="footer">
        <div class="container-bottom">
            <a href="/discoideum">Home</a>
            Supported by NIH (NIGMS and NHGRI)
            <a href="/discoideum/db/cgi-bin/dictyBase/suggestion">Contact dictyBase</a>
        </div>
        </div>

