<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title> 
            [% IF default %]
                Gene information for [% header %] 
						[% ELSIF title %]
								[% title %] page
            [% ELSE %]
                [% header or "Dictybase page" %] 
            [% END %]
		</title>

        [% PROCESS config.tt %]

        [% css_link ( href = "/static/css/style.css"); %]
        [% IF NOT template.noloader %]
            [% js_link (src = "/static/js/yui/build/yuiloader/yuiloader-min.js"); %]
        [% END %]
        [% IF require %]
        	[% PROCESS "$require-deps.tt" %]
				[% END %]

        [% IF template.error_page %]
	        [% css_link ( href = "/static/css/dicty_yui.css"); %]
        [% END %]

</head>


