<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title> 
            [% IF default %]
                Gene information for [% header %] 
            [% ELSE %]
                [% header or "Dictybase page" %] 
            [% END %]
		</title>

        [% PROCESS config.tt %]
        
        [% js_link (src = "/static/js/yui/build/yahoo/yahoo.js"); %]
        [% css_link ( href = "/static/css/style.css"); %]

        [% js_link (src = "/static/js/yui/build/yuiloader/yuiloader-min.js"); %]

        [% IF template.error_page %]
	        [% css_link ( href = "/static/css/dicty_yui.css"); %]
        [% END %]
</head>

[% IF species %]
	[% INCLUDE "$species/tbar.tt" %]
[% ELSE %]
	[% INCLUDE "tbar.tt" %]
[% END %]

