<script type="text/javascript">

// disabing ESC 
function addEvent(el,ev,func){
    if(el.addEventListener) el.addEventListener(ev,func,null);
    else if(el.attachEvent) el.attachEvent('on'+ev,func);
    else el['on'+ev]=func;		

}
addEvent(document,'keypress',catchEscape);
        
function catchEscape(e){
    e= (window.event)? window.event: e;
    if(e.keyCode==27){ // you could have a switch here for more keys
        //do what you want here
        var browserName=navigator.appName; 
        if (browserName=="Microsoft Internet Explorer")
            e.returnValue = false;
        else
            e.preventDefault();
    }
    return true; // ignore the default 'escape' 
};


var loader = new YAHOO.util.YUILoader({
    base: '/static/js/yui/build/',
    loadOptional: true,
    onSuccess: function() {
        var searchInput = YAHOO.util.Dom.get('search-input');
        YAHOO.util.Event.addFocusListener(searchInput.id, function() {
            var initData = searchInput.value;
            if (initData.match('use')) {
                searchInput.value = '';
            };
        });
    		
        //var reader = new YAHOO.widget.LogReader('dicty-log');
        var config      = [%config%];
        var panel = new YAHOO.Dicty.Panel(config[0]); 
        panel.render('container');
        var util = panel.util;
        YAHOO.util.Event.on(window,  'resize', util.handleResize,  util,  true  );
        
    },
    onFailure: function(msg, xhrobj) {
        alert("Loader sucked, everything failed");
    }
});

loader.addModule({
    name: 'genetab',
    type: 'js',
    fullpath: "/static/js/custom/item_v2.js",
    requires: [
    'accordion_css', 'genebody_css',
    'fonts-min-css',  'body-css', 'menu-css',
    'genepage-skin', 'header-css', 'footer-css',
    'header-skin', 'footer-skin', 'body-skin',
    'yahoo', 'json', 'connection','treeview',
    'tabview', 'logger', 'container','datatable', 
    'event', 'element', 'animation','menu', 'selector','cookie', 
    'dom', 'button', 'button_css', 'accordion', 'yui-dispatch', 
     'dictyitem', 'menu-custom',  
     'cart',  
    ]
});

var skin_folder = "[%species%]" || 'default';

// species cpecific part of css (skin)
loader.addModule({
    name: 'genepage-skin',
    type: 'css',
    fullpath: "/static/css/" + skin_folder + "/genepage-skin.css"
});    
loader.addModule({
    name: 'header-skin',
    type: 'css',
    fullpath: "/static/css/" + skin_folder + "/header-skin.css"
}); 
loader.addModule({
    name: 'footer-skin',
    type: 'css',
    fullpath: "/static/css/" + skin_folder + "/footer-skin.css"
}); 
loader.addModule({
    name: 'body-skin',
    type: 'css',
    fullpath: "/static/css/" + skin_folder + "/body-skin.css"
}); 
// common part of  css
loader.addModule({
    name: 'genebody_css',
    type: 'css',
    fullpath: "/static/css/genebody.css"
});

loader.addModule({
       name: 'header-css',
       type: 'css',
      fullpath: "/static/css/header.css"
});

loader.addModule({
      name: 'footer-css',
      type: 'css',
      fullpath: "/static/css/footer.css"
});

loader.addModule({
      name: 'body-css',
      type: 'css',
      fullpath: "/static/css/body.css"
});


loader.addModule({
    name: 'button_css',
    type: 'css',
    fullpath: "/static/js/yui/build/button/assets/skins/sam/button.css"
});


loader.addModule({
      name: 'fonts-min-css',
      type: 'css',
      fullpath: "/static/js/yui/build/fonts/fonts-min.css"
});
    
loader.addModule({
      name: 'menu-css',
      type: 'css',
      fullpath: "/static/js/yui/build/menu/assets/skins/sam/menu.css"
});

loader.addModule ({
     name: 'menu-custom',
     type: 'js',
     fullpath: "/static/js/custom/menu.js",
});

loader.addModule({
    name: 'dictyitem',
    type: 'js',
    fullpath: "/static/js/custom/panel_v1.js",
    requires: [
    	'dictyutil','formatter','dictydispatch'
		]	
});

loader.addModule({
    name: 'formatter',
    type: 'js',
    fullpath: "/static/js/custom/formatter_v2.js"
});

loader.addModule({
    name: 'dictyutil',
    type: 'js',
    fullpath: "/static/js/custom/util_v2.js"
});

loader.addModule({
    name: 'dictydispatch',
    type: 'js',
    fullpath: "/static/js/custom/dispatcher_v1.js"
});

loader.addModule({
    name: 'bubbling',
    type: 'js',
    fullpath: "/static/js/yui/plugins/bubbling/bubbling-min.js"
});

loader.addModule({
    name: 'yui-dispatch',
    type: 'js',
    fullpath: "/static/js/yui/plugins/dispatcher/dispatcher-min.js"
});

loader.addModule({
    name: 'container_css',
    type: 'css',
    fullpath: "/static/js/yui/build/container/assets/skins/sam/container.css"
});

loader.addModule({
    name: 'accordion',
    type: 'js',
    fullpath: "/static/js/yui/plugins/accordion/accordion-min.js",
    requires: ['bubbling', 'container_css']
});

loader.addModule({
    name: 'accordion_css',
    type: 'css',
    fullpath: "/static/js/yui/plugins/accordion/assets/accordion.css"
});

loader.addModule({
    name: 'tooltips',
    type: 'js',
    fullpath: "/static/js/yui/plugins/tooltips/tooltips-min.js",
    requires: ['bubbling']
});

loader.addModule({
    name: 'cart',
    type: 'js',
    fullpath: "/static/js/nopcart.js",
    requires: ['language']
});

loader.addModule({
    name: 'language',
    type: 'js',
    fullpath: "/static/js/language-en.js"
});

    


loader.require('genetab');
loader.insert();
    
</script> 
