.yui-skin-sam .yuimenubar {
    background      :#4b5f81;
}
#shadow-container #container-top {
	border-bottom-color   :#4b5f81;
}
.yui-skin-sam #container-top #container-help a{
    color           :#4b5f81;
}
.yui-skin-sam .yuimenu .bd {
    background      :#f4f9fb; /*transparent url(/inc/js/yui/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;*/
}
.yui-skin-sam #container-top {
    background      :#f4f9fb; /*#f4f9ff*/
}
.yui-skin-sam #container-top #container-help div{
    background      :#DFE8F6;
}
