#subnav {
    clear           :both;
	float           :left;
	width           :100%;
    background-color:#DFE8F6;
    padding         :1em 0 3em;
}
#inner_container {
    margin          :0 auto;
    padding         :0 10px;
    width           :100%;
}
#subnav h3 {
    color           :#336699;
    font-size       :14px;
    line-height     :2em;
    margin          :0;
    padding         :0 0 0 25px;
    
}
/* column container */
.wrapper {
	position        :relative;	/* This fixes the IE7 overflow hidden bug */
	clear           :both;
	float           :left;
	width           :100%;		/* width of whole page */
	overflow        :hidden;	/* This chops off any overhanging divs */

}
/* common column settings */
.wrapper-left-center,
.wrapper-columns {
	float           :left;
	width           :100%;		/* width of page */
	position        :relative;
}
.column-center,
.column-left,
.column-right {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					    only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:#f3f2ff;	/* left and right columns background colour */
}
.threecol .wrapper-left-center {
	right:10%;          /* width of the right column */
}
.threecol .wrapper-columns {
	right:70%;          /* width of the middle column */
	background: transparent url(/static/images/waves_bottom.gif) no-repeat scroll;
	background-position: 103% 100%;	
}
.threecol .column-center {
    min-height:600px;
	width:70%;          /* width of center column content (column width minus padding on either side) */	
	left:100%;          /* 100% plus left padding of center column */
	background:#fff;
	margin: -30px 0;
}
.threecol .column-left {	
	width:20%;          /* Width of left column content (column width minus padding on either side) */
    left:10%;           /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .column-right {	
	width:10%;          /* Width of right column content (column width minus padding on either side) */
	left:80%;			/* Please make note of the brackets here: (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */  
	background: transparent url(/static/images/waves_top.gif) no-repeat scroll top left;
	height:500px;
}
.threecol #column-center-content {
    padding: 20px 30px;
}
.threecol #column-left-content {
    padding: 0 30px 20px 15px;
}	
.warning {
    float           :left;
    padding         :2px 7px;
    margin-right    :15px;
    margin-left     :10px;
    border          :1px solid #cc0000;
    background-color:#ffccbb;
    font-size       :90%;    
}
.info {
    float           :left;
    padding         :2px 7px;
    margin-right    :15px;
    margin-left     :10px;
    border          :1px solid #61AF58;
    background-color:#DDFFD4;
    font-size       :95%;
}
.wide{
    padding         :10px 15px;
    margin          :10px 0 0 0 ;
    width           :95%;
}
.hidden {
    visibility:hidden;
}
#column-center-content h2 {
    color           :#394a6f;
    margin-top      :0px;
}
#column-center-content h3 {
    color           :#a7221e;
    font-size       :105%;
    margin          :0.6em 0 0.4em 0;
}
#column-center-content li {
    margin          :10px 0;
    font-size       :95%;
}
.wrapper a:link{
	color           : #0000ce;
	text-decoration : none;
}
.wrapper a:active,
.wrapper a:hover,
.wrapper a:focus {
	color           : #FF0000;
	text-decoration :underline;
}
.wrapper a:visited {
	text-decoration : none;
}
