#subnav {
    clear           :both;
	float           :left;
	width           :100%;
    background-color:#DFE8F6;
    padding         :1em 0 1em;
}
#inner_container {
    margin          :0 auto;
    padding         :0 10px;
    width           :100%;
}
#subnav h3 {
    color           :#336699;
    font-size       :14px;
    line-height     :2em;
    margin          :0;
    padding         :0 0 0 25px;
    
}
/* column container */
.wrapper {
	position        :relative;	/* This fixes the IE7 overflow hidden bug */
	clear           :both;
	float           :left;
	width           :100%;		/* width of whole page */
	overflow        :hidden;	/* This chops off any overhanging divs */

}
/* common column settings */
.wrapper-left-center,
.wrapper-columns {
	float           :left;
	width           :100%;		/* width of page */
	position        :relative;
}
.column-center,
.column-left,
.column-right {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					    only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background: #F4F9FB;	/* #f3f2ff; left and right columns background colour */
}
.threecol .wrapper-left-center {
	right:5%;          /* width of the right column */
}
.threecol .wrapper-columns {
	right:75%;          /* width of the middle column */
	background: transparent url(/inc/images/waves_bottom.gif) no-repeat scroll;
	background-position: 103% 100%;	
}
.threecol .column-center {
    min-height:700px;
	width:75%;          /* width of center column content (column width minus padding on either side) */	
	left:100%;          /* 100% plus left padding of center column */
	background:#fff;
/*	margin: -30px 0;*/
}
.threecol .column-left {	
	width:20%;          /* Width of left column content (column width minus padding on either side) */
    left:5%;           /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .column-right {	
	width:5%;          /* Width of right column content (column width minus padding on either side) */
	left:80%;			/* Please make note of the brackets here: (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */  
	background: transparent url(/inc/images/waves_top.gif) no-repeat scroll top left;
	height:500px;
}
.threecol #column-center-content {
    padding: 20px 30px;
}
.threecol #column-left-content {
    padding: 0 30px 20px 15px;
}
/* ---------- wide threecol  ----------  */
.threecol-wide {
	background:#F4F9FB;	/* #f3f2ff left and right columns background colour */
}
.threecol-wide  .wrapper-left-center {
	right:3%;          /* width of the right column */
}
.threecol-wide  .wrapper-columns {
	right:94%;          /* width of the center column */
	background-position: 103% 100%;	
}
.threecol-wide .column-center {
    min-height:700px;
	width:94%;          /* width of center column content (column width minus padding on either side) */	
	left:100%;          /* 100% plus left padding of center column */
	background:#fff;
}
.threecol-wide .column-left {	
	width:3%;          /* Width of left column content (column width minus padding on either side) */
    left:3%;           /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol-wide .column-right {	
	width:1%;          /* Width of right column content (column width minus padding on either side) */
	left:97%;			/* Please make note of the brackets here: (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */  
}
.threecol-wide #column-center-content {
    padding: 10px 10px;
}
.threecol-wide #column-left-content {
    padding: 0 30px 20px 15px;
}
/*----------------------------------------*/
.warning {
    padding         :2px 7px;
    border          :1px solid #cc0000;
    background-color:#ffccbb;  
}
.info {
    float           :left;
    padding         :2px 7px;
    margin-right    :15px;
    margin-left     :10px;
    border          :1px solid #61AF58;
    background-color:#DDFFD4;
    font-size       :95%;
}
.wide{
    padding         :10px 15px;
    margin          :10px 0 0 0 ;
    width           :95%;
}
.hidden {
    visibility:hidden;
}
#column-center-content h1 {
    font-size       :1.7em;
    margin-top      :0px;
}
#column-center-content h2 {
    font-size       :1.4em;
    color           :#394a6f;
    margin-top      :0px;
}
#column-center-content h3 {
    color           :#a7221e;
    font-size       :105%;
    margin          :15px 0 5px 0;
    
}
#column-center-content ul {
    padding-left:25px;
}
#column-center-content li {
    margin          :5px 0;
    font-size       :98%;
}
#column-center-content td{
    vertical-align: top;
}
.wrapper a:link{
	color           : #0000ce;
	text-decoration : none;
}
.wrapper a:active,
.wrapper a:hover,
.wrapper a:focus {
	color           :#FF0000;
	text-decoration :underline;
}
.wrapper a:visited {
	text-decoration :none;
	color           :#0000CE;
}
#column-left-content a:active,
#column-left-content a:hover,
#column-left-content a:focus {
	color           : #FF0000;
	text-decoration :none;
}
#column-left-content ul a{
    text-decoration :none;
    font-size       :12px;
    color           :#555555;
}
#column-left-content ul {
    padding         :0;
    padding-left    :5px;
}

#column-left-content li {
    list-style-type:none;
    margin          :6px 0;
    padding         :3px 0 2px 0;
    border-bottom :solid 1px #cccccc;
}

td.sideMenu {
    vertical-align  : top;
    background-color:#f3f2ff;
    padding-left : 5px;
}
td.sideMenu a{
    text-decoration : none;
    color :#555555;
}
td.sideMenu a:active,
td.sideMenu a:hover,
td.sideMenu a:focus {
	color           : #FF0000;
	text-decoration :none;
}
td#main{
    vertical-align  : top;
}
.nopcart     { font-family: Verdana; font-size: 10pt; font-weight: bold; border-style: ridge; 
               border-width: 3; background-color: #C0C0C0 }
.nopentry    { border:3px solid #FFFFFF; background-color: #C0C0C0; padding-left:4; padding-right:4; padding-top:1; padding-bottom:1 }


.nopheader   { border:1px dotted #FFFFFF; font-family: Verdana; font-size: 11pt; color: #FFFFFF; font-weight: bold; 
               background-color: #7f7f7f; padding-left:4; padding-right:4; padding-top:1; padding-bottom:1}

.highlight_by_red { font-family: Verdana; font-size: 12pt; color: #FF0000; font-weight: bold }

div.page-curation {
    margin :10px;
    width  :95%;
    font-size : 14px;
}
/* --- tables --- */
div.page-curation th, .download th, td.sub_header_class{
    background-color    :#7183B1;
    font-family         :arial,sans-serif;
    font-weight         :bold;
	font-size           :14px;
	color               :#fff;
}
td.sub_header_class{
    width : 100px;
}
table.download {
   table-layout:fixed;
   width: 100%;
   spacing: 2px;
   border: none;
}
table.download td {
    padding: 4px
}
table.download th {
    text-align : left;
    padding-left : 4px;
}
.download td, td.sc_details {
  background-color:#EEEEEE;
}
table.error, warning {
    float           :left;
    padding         :2px 7px;
    margin-right    :15px;
    margin-left     :10px;
    border          :1px solid #cc0000;
    background-color:#ffccbb;
    font-size       :90%;    
}
table.success{
    padding         :2px 7px;
    border          :1px solid #61AF58;
    background-color:#DDFFD4;
}
td.warning, th.warning {
    border          :none;
}	

.yui-skin-sam .yui-cms-accordion .yui-cms-item.selected .actions .accordionToggleItem {
    background:transparent url(/static/images/sprite-toolbar.gif) no-repeat scroll 0 -30px;
}

