/* section headers */
.content_table_header {
	color           : #FFFFFF;
	background      : #4C5E81;
}
/* title column */
.content_table_title, .content_table_second_title {
	background      : #DFE8F6;
    border-bottom   : 1px dotted #A3BAE9;
    border-right    : 1px dotted #A3BAE9;  
}
/* row divider */
.content_table_data {
    border-bottom   : 1px dotted #A3BAE9;
    border-left     : 1px dotted #A3BAE9;
}
/* top divider color */
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
    border-color    : #4c5e81; 
}
/* active tab */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    background      :#4C5E81 url(../images/sprite.gif) repeat-x scroll 0 -454px; 
}
/* not-active tabs settings */
.yui-skin-sam .yui-navset .content_tab .yui-nav a,
.yui-skin-sam .yui-navset .content_tab .yui-navset-top .yui-nav a {
    background      :#7183b1;
}