body {
    margin: 0px;
}
.yui-skin-sam #container-top {
    background: #f4f9fb; /*#f4f9ff*/
    width       :100%;
}
.yui-skin-sam #container-top, 
.yui-skin-sam #container-top td, 
.yui-skin-sam #container-top tr {
    padding:0;
    margin:0;
}
.yui-skin-sam #container-top table{
    border-collapse :collapse;
    border-spacing  :0px;
    padding         :0;
    margin          :0;   
}

.yui-skin-sam #container-top table tbody{
    border-collapse :collapse;
    border-spacing  :0px;
}
.yui-skin-sam #container-top img {
    border          :0px none;
    padding         :0;
    margin          :0;
    vertical-align  :bottom;
}
.yui-skin-sam #container-top tr.menu {
    height          :37px;
}
.yui-skin-sam #container-top tr.menu td{
    vertical-align  :bottom;
}
.yui-skin-sam #container-top #menu-top{
    width           :400px;
}
.yui-skin-sam .yuimenubaritem .yuimenubaritemlabel{
    border          :0px none;
    color:#FFFFFF;
    margin-left     :-5px;
    margin-right    :-3px;
}
.yui-skin-sam .yuimenubaritemlabel {
    padding         :0 10px;
}
.yui-skin-sam .yuimenubaritem-selected .yuimenubaritemlabel-selected{
    color           :#999;
}
.yui-skin-sam .yuimenubar {
    font-size       :100%;
    font-weight     :bold;
    line-height     :32px;
    border          :0px none;
    width           :650px;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-selected{
    color           :#999;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem {
    border-right    :0 none;
}
.yui-skin-sam #container-top form {
    padding         :0px 10px;
    margin-bottom:0;
}
.yui-skin-sam #menu-top #genomes,
.yui-skin-sam #menu-top #learn,
.yui-skin-sam #menu-top #research,
.yui-skin-sam #menu-top #tools,
.yui-skin-sam #menu-top #stock-center,
.yui-skin-sam #menu-top #community{

      z-index         :10;  
}
.yui-skin-sam #container-top form input{
    font-size       :11px;
}
.yui-skin-sam #container-top #container-help{
    right           :0;
    position        :absolute;
}
.yui-skin-sam #container-top #container-help a{
    color           :#4b5f81;
    font-weight     :bold;
    font-size       :85%;
    text-decoration :none;
    padding         :0 5px;
}
.yui-skin-sam #container-top #container-help div,
.yui-skin-sam #container-top #container-help img {
    float           :left; 
}
.yui-skin-sam #container-top #container-help div {
    line-height     :12px;
    padding-top     :4px;
    padding-bottom  :5px;
}
/*------------- IE fix ---------------------*/
* html .yui-skin-sam #container-top #container-help div {
    padding-top     :4px;
    padding-bottom  :4px;
}
* html .yui-skin-sam #container-top #container-help img {
    margin-right    :-3px;
}

#shadow-container .shadow {
    padding         :0px;
	background      :#cccccc;
	padding-bottom  :3px;
}
#shadow-container #container-top {
	border-bottom   :2px solid #394a6f;
}
.yui-skin-sam .yuimenu .bd {
    background      :#f4f9ff; /*transparent url(/inc/js/yui/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;*/
    border          :1px solid #808080;
}
#descriptor {
    font-style      :italic; 
    font-size       :14px;
    position        :absolute; 
    left            :50px; 
    top             :20px; 
    z-index         :1; 
}
#about_help a{
    padding-left: 5px;
    text-decoration :none;
    color           :#A7221E;
    font-size       :11px;
};
.yui-skin-sam .yui-panel {
    border-style:none;
    border-width:0px 0;
    z-index: 0;
}
