body {
    margin: 0px;
}
.yui-skin-sam #container-top {
    background: #f4f9fb; /*#f4f9ff*/
/*    background:transparent url(/inc/js/yui/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;*/
    width       :100%;
}
.yui-skin-sam #container-top, 
.yui-skin-sam #container-top td, 
.yui-skin-sam #container-top tr {
    padding:0;
    margin:0;
}
.yui-skin-sam #container-top table{
    border-collapse: collapse;
    border-spacing:0px;
    padding:0;
    margin:0;   
}

.yui-skin-sam #container-top table tbody{
    border-collapse: collapse;
    border-spacing:0px;
}
.yui-skin-sam #container-top img {
    border: 0px none;
    vertical-align: bottom;
}
.yui-skin-sam #container-top tr.menu {
    height: 37px;
}
.yui-skin-sam #container-top tr.menu td{
    vertical-align  :bottom;
}
.yui-skin-sam #container-top #menu-top{
    min-width       :450px;
}
.yui-skin-sam .yuimenubaritemlabel{
    border          :0px none;
}
.yui-skin-sam .yuimenubar {
    background      :#4b5f81;
    font-size       :100%;
    font-weight     :bold;
    line-height     :39px;
    border          :0px none;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu{
    color           :#fff;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-selected{
    color           :#999;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem {
    border-right    :0 none;
}
.yui-skin-sam #container-top form {
    padding         :0px 10px;
}
.yui-skin-sam #container-top form input{
    font-size       :80%;
}
.yui-skin-sam #container-top #container-help{
    right           :15px;
    position        :absolute;
}
.yui-skin-sam #container-top #container-help a{
    color           :#4b5f81;
    font-weight     :bold;
    font-size       :85%;
    text-decoration :none;
    padding         :0 5px;
}
.yui-skin-sam #container-top #container-help div,
.yui-skin-sam #container-top #container-help img {
    float           :left; 
}
.yui-skin-sam #container-top #container-help div {
    background      :#DFE8F6;
    line-height     :2.4;
}
#shadow-container .shadow {
	background      :#cccccc;
	padding-bottom  :3px;
}
#shadow-container #container-top {
	border-bottom   :2px solid #394a6f;
}
.yui-skin-sam .yuimenu .bd {
    background      :#f4f9ff; /*transparent url(/inc/js/yui/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;*/
    border          :1px solid #808080;
}
#descriptor {
    font-style      :italic; 
    font-size       :12px; 
    position        :absolute; 
    color           :#A7221E;
    left            :170px; 
    top             :25px; 
    z-index         :1; 
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel {
    color : #fff;
}