body {
    margin: 0px;
}
.yui-skin-sam #container-top {
    width       :100%;
}
.yui-skin-sam #container-top, 
.yui-skin-sam #container-top td, 
.yui-skin-sam #container-top tr {
    padding:0;
    margin:0;
}
.yui-skin-sam #container-top table{
    border-collapse: collapse;
    border-spacing:0px;
    padding:0;
    margin:0;   
}

.yui-skin-sam #container-top table tbody{
    border-collapse: collapse;
    border-spacing:0px;
}
.yui-skin-sam #container-top img {
    border: 0px none;
    vertical-align: top;
}
.yui-skin-sam #container-top tr.menu {
    height: 37px;
}
.yui-skin-sam #container-top tr.menu td{
    vertical-align  :bottom;
}
.yui-skin-sam #container-top #menu-top{
    min-width       :450px;
}
.yui-skin-sam .yuimenubaritemlabel{
    border          :0px none;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu{
    color           :#fff;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-selected{
    color           :#999;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem {
    border-right    :0 none;
}
.yui-skin-sam #container-top form {
    padding-left         :10px;
}
.yui-skin-sam #container-top form input{
    font-size       :80%;
}
.yui-skin-sam #container-top #container-help{
    right           :45px;
    position        :absolute;
    min-width       :150px;
}
.yui-skin-sam #container-top #container-help a{
    font-weight     :bold;
    font-size       :85%;
    text-decoration :none;
    padding         :0 5px;
}
.yui-skin-sam #container-top #container-help div,
.yui-skin-sam #container-top #container-help img {
    float           :left; 
}
.yui-skin-sam #container-top #container-help div {
    line-height     :30px;
}
#shadow-container .shadow {
	background      :#cccccc;
	padding-bottom  :3px;
}
.yui-skin-sam .yuimenu .bd {
    border          :1px solid #808080;
}
#descriptor {
    font-style      :italic; 
    color           :#A7221E;
    font-size       :16px; 
    position        :absolute; 
    left            :60px; 
    top             :25px; 
    z-index         :1; 
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel {
    color : #fff;
}
.yui-skin-sam .yuimenubar .yuimenubaritem-selected a{
    text-decoration: none;
}