
.topSpace {
   padding-top:0;
   background-color:#9999CC ;
   font:normal 100% Arial;
}

.popup_header_title {
   vertical-align:middle; 
   text-align:center;
   background-color:#9999CC ;
   font:bold 25px Arial;
}

font.small {
  font: 10px;
}

font.yellow {
  color: black;
  background-color: yellow;
}

td.blue {
   vertical-align:top; 
   background-color:#4E387E;
}

td.topMenu {
   /* background:transparent url(../images/sprite.png) repeat-x scroll 0 -101px; */
   background-color:#394a6f;
   padding-left:10px;
   padding-right:10px;
}

td.topMenu a{
   text-decoration:none;
   color:white;
   font:bold 14px Arial;
}
td.topMenu a:visited{
   color:white;
}


td.sideMenu {
   background-color:#9999CC ;
   vertical-align:top;
   text-align:center;
}

.sideMenu a{
   font:bold 14px Arial;
   text-decoration:none;
   color:#4E387E;
}
.sideMenu a:link{
   color:#4E387E;
}
.sideMenu a:visited{
   color:#4E387E;
}
.sideMenu a:hover{
   color:#A7221E;
}

.menuskin{
   #position:absolute;
   #width:165px;
   background-color:#9999CC;
   border:2px solid #4E387E;
   font:normal 12px Verdana;
   line-height:18px;
   z-index:100;
   #visibility:hidden;
}

.menuskin a{
   text-decoration:none;
   padding-left:10px;
   padding-right:10px;
}
.menuskin a:link{
   color:#4E387E;
}
.menuskin a:visited{
   color:#4E387E;
}
.menuskin a:hover{
   color:#f7f7f7;
}

#mouseoverstyle{
   background-color:#4E387E;
}

#mouseoverstyle a{
   color:white;
}

#main {
   vertical-align:top; 
   padding-top:25;
   padding-left:50;
   padding-right:50;
}

#homepage-main {
   background-image: url('/inc/images/DictyFB.jpg');
   background-repeat: no-repeat;
   background-color:#f7f7f7;
   vertical-align:top; 
   padding-top:50;
   padding-left:100;
   padding-right:200
}

#layer1 {
  font:bold italic 12px;
  position:absolute;
  color:#A7221E;
  left:90px;
  top:75px;
  z-index:1;
}

.red {
   color:#A7221E;
}


body {
   font-family : arial, sans-serif;
   background-color:#f7f7f7;
   margin-left:0;
   margin-top:0;
   margin-right:0;
   margin-bottom:0;
}

body.blue {
   font-family : arial, sans-serif;
   background-color: #869fb6;

}
td.locus-bottom {
   background-color:#f7f7f7;
}



th {
   font-family : arial, sans-serif; 
   font-weight : bold; 
   color : #ffffff;
   background-color:#4E387E;
}

th.go {
   font-family : arial, sans-serif;
   font: 20px;   
   font-weight : bold; 
   color : #ffffff;
   background-color:#4E387E;
}

tr.sub_header_go
{
   font-family : arial, sans-serif;
   font: 10px;   
   font-weight : bold; 
   background-color :#9999CC;

}

tr.go
{
background-color :#d8d8d8;

}


tr.sc_alternate  
{	
	background-color : #C0C0C0;	
}




td.separator {
   background-color:#4E387E;
   padding: 0; 
   height:2
}

td.footer {
   vertical-align:middle; 
}

td.copyright {
   font: 10px Arial;
}

hr {
   color:#4E387E;
}
a:link { color: blue; }
a:visited { color: blue; }

th a:link { color: lightgoldenrodyellow; }
th a:visited { color: #ffcc99; }


td.sc_header  {
	color : #FFFFFF;
	font-family : verdana,arial,helvetica;
}

tr.sc_alternate  {
	
	background-color : #C0C0C0;
	
}

/* this is referenced in paragraph.xsl to get gene links to appear italic */
a.italic { font-style: italic; }


td.sc_details
{
	font-family : verdana,arial,helvetica;
	font: 12px;
}

A:link.tech, A:visited.tech
{
    COLOR: #4E387E;
    TEXT-DECORATION: underline;
}
A:active.tech
{
    COLOR: #A7221E;
    TEXT-DECORATION:bold;
}


.level0
{
	font-weight: bold;
	font-size: 16px;
	color: black;
	line-height: 1.2em;
}


.level1
{
	font-weight: bold;
	font-size: 13px;
	color: black;
	line-height: 1.2em;
}

.level2
{
	font-weight: bold;
	font-size: 13px;
padding-bottom: 10px;
	color: black;
	background-color: #9999CC;
	line-spacing: 5px;
	line-height: 1.2em
}

.level2notes
{
	font-weight: normal;
	font-size: 13px;
	margin-left: 0.15in;
	margin-right: 0.15in;
	line-spacing: 1px;
	font-style: italic;
	color: #4E387E;
}

.div.tech
{
    	font-family: Arial, Helvetica, Geneva, Sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.p.tech
{
	padding: 4px 0px 1px 0px;
	margin:  0px 0px 1px 0px;
	line-height: 110%;
}

.header_class
{
	font:bold;
	background-color:#4E387E;
	color:#FFFFFF;	
}

.sub_header_class
{
	background-color:#9999CC;
     vertical-align:top;
}

pre {
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 white-space: pre-wrap;
 word-wrap: break-word;
}



.header_links
{
	font:bold italic;
	color:#EAE884;
}

A:link.gene_page, A:visited.gene_page, A:active.gene_page
{
    COLOR: #EAE884;
    TEXT-DECORATION: underline;
}

.header_top_link
{
	font:bold;
	color:#EAE884;
	font-size: 11px;
}




table.error {
  border-style: solid;
  border-color: #A7221E; 
}
th.error{
   padding: 5px;
   text-align:left;
   background-color: #D3908E;
   color: black;
}
td.error{
   padding: 5px;
   font-weight: bold;
}


table.warning {
  border-style: solid;
  border-color: #EAE884; 
}
th.warning{
   padding: 5px;
   text-align:left;
   background-color: #EAE884;
   color: black;
}
td.warning{
   padding: 5px;
   font-weight: bold;
}


table.success {
  border-style: solid;
  border-color: #5faa5f; 
}
th.success {
   padding: 5px;
   text-align:left;
   background-color: #84ea84;
   color: black;
}
td.success {
   padding: 5px;
   font-weight: bold;
}

td.unpadded {
   padding-left:0;
   padding-right:0;
}


.nopcart     { font-family: Verdana; font-size: 10pt; font-weight: bold; border-style: ridge; 
               border-width: 3; background-color: #C0C0C0 }
.nopentry    { border:3px solid #FFFFFF; background-color: #C0C0C0; padding-left:4; padding-right:4; padding-top:1; padding-bottom:1 }


.nopheader   { border:1px dotted #FFFFFF; font-family: Verdana; font-size: 11pt; color: #FFFFFF; font-weight: bold; 
               background-color: #808080; padding-left:4; padding-right:4; padding-top:1; padding-bottom:1}

.highlight_by_red { font-family: Verdana; font-size: 12pt; color: #FF0000; font-weight: bold }


table.ontology {
	border-width: 1px;	
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;	
}

table.ontology th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: white;
	background-color: #808080;
	font-family: Verdana; 
	font-size: 11pt; 	
}

table.ontology td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: white;
	background-color: #C0C0C0;
}




table.dicty_two_tone {
   table-layout:fixed;
   width: 100%;
   spacing: 2px;
   border: none;
}

table.dicty_two_tone th {
   background-color:#9999CC;
   font-weight: bold;
   font-size: 18px;
   padding: 4px;
   color: black;
   text-align: left;
}

table.dicty_two_tone td {
   background-color:#dddddd;
   padding: 4px
}

/* generated by HTML::Prototype library */
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}

h1#curator { text-align:center }


.cssform label{
	/* width: 50px; */
	 clear: left;
	 margin: 0;
	 padding: 5px ;
/*	 border-top: 1px dashed gray; 
	 height: 1%; */
}

.cssform p{
	 font-weight: bold;
	 text-align: right;
	 float: left;
/*	 margin-left: 80px; /*width of left column
	 margin-bottom: 50px;
	 width: 90%; /*width of labels. Should be smaller than left column (155px) to create
	 some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this
	 attribute*/
	 width: 180px;
}


/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
	 margin-left: 3px;
}


.formbutton{
	 cursor:pointer;
	 border:outset 1px #ccc;
	 background:#999;
	 color:#666;
	 font-weight:bold;
	 padding: 1px 2px;
	 margin-left: 10px;
	 background:url(media/formbg.gif) repeat-x left top;
}

textarea#styled {
	 	width: 250px;
	 	height: 120px;
	 	border: 3px solid #cccccc;
	 	padding: 5px;
	 	font-family: Tahoma, sans-serif;
/*	 	background-image: url(media/formbg.gif);
	 /*	background-position: bottom right;*/
	 	background-repeat: repeat; */
}

#formbox  {
	 width: 70%;
	 border: 2px solid black;
	 margin-left: 60px;
	 margin-top: 20px;
	 margin-bottom: 60px;
	 padding: 10px;
}

table.download {
            table-layout: fixed;
   width:  100%;
   spacing:  2px;
   border:  none;


}

table.download td {padding:  4px}

tr.row1 {
  background-color: #ACBDCC;
  font-weight:  bold;
  font-size:  16px;
}

tr.row2 {
  background-color: #dddddd;
  font-size:  15px;
}
