/* Footer styles */
.container-bottom {
	clear:both;
	float:left;
    display         : block;
    width           : 100%;
    color           : #394a6f;
    font-size       : 93%;
    line-height     : 2em;
    font-weight     : normal;
    padding-top     : 2px;
    padding-bottom  : 2px;
}
.container-bottom a{
    text-decoration : none;
    color           : #394a6f;
    padding         : 0 2px;
}
.container-bottom a img{
    vertical-align  : middle;
    border: none;
}
.container-bottom td{
    width           : 50%;
}
.container-bottom table{
    width           : 100%;
}