#subnav {
    background-color:#dfe1f6;
}
#subnav h3 {
    color           :#524c81;
}
#main-info {
    width : 80%;
    padding-right : 10px;
    float : left;
}
#species-image{
    float:left;
    font-size:10px;
    width:10%;
}