.yui-skin-sam .yuimenubar {
    background      :#524c81;
    font-size       :100%;
    font-weight     :bold;
    line-height     :39px;
    border          :0px none;
}
#shadow-container #container-top {
	border-bottom   :2px solid #524c81;
}
.yui-skin-sam #container-top #container-help a{
    color           :#524c81;
}
.yui-skin-sam #container-top #container-help div{
    background      :#cbc8e8;
}
.yui-skin-sam .yuimenu .bd {
    background      :#f3f3fe; /*transparent url(/inc/js/yui/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;*/
}
.yui-skin-sam #container-top {
    background      :#f3f3fe; /*#f4f9ff*/
/*    background:transparent url(/inc/js/yui/build/assets/skins/sam/sprite.png) repeat-x scroll 0 -1700px;*/
}
.yui-skin-sam .yuimenubar .yuimenubaritem-selected {
    background: transparent url(/static/images/purpureum/sprite.gif) repeat-x scroll 0 -303px;
}
.yui-skin-sam .yuimenubar .yuimenubaritem-selected a{
    color           :#524c81;
}
#descriptor {
    color           :#524c81;
    font-size       :20px; 
}