    <div id="subnav">
                <div class="inner_container">
                    <h3>
                        &nbsp;<!--Dictyostelium purpureum portal-->
                    </h3>
                </div>
            </div>
            <div class="wrapper-left-center">
                <div class="wrapper-columns">
                    <div class="column-center">
                        <div id="column-center-content">
                            <!-- Central Column start -->
                            <h2>
                                Welcome to the <i>[% genus %] [% species %]</i> web portal !
                            </h2>
                            <h3>This site contains:</h3> 
                            <ul>
                                <li>The <a href="/[% species %]/contig">Genome Browser</a> that allows to visualize each contig of the genome with alignments to 
                                    <i>D. discoideum</i> proteins (75% <i>D.
                                    discoideum</i> proteins aligned to the <i>
                                    [% abbr %]</i> genome)
                                </li>
                                <li>The new dictyBase universal dictyostelid <a href="/tools/blast">BLAST server</a> where you can use any sequence to search 
                                    the [% abbr %] and <i>D. discoideum </i>genomes
                                </li>
                                <li>The <a href="/[% species %]/downloads">[% abbr %] Downloads page</a> containing mappings between different IDs and sequences in FASTA format</li>
                                <li>A search function where you can search for gene IDs (e.g. DPU_GXXXXXXXXX), sequence IDs (e.g. DPUXXXXXXXXX), or JGI protein IDs () </li>
                                
                                <li>The genomic sequence has been assembled into 838
                                contigs containing [% protein %] predicted proteins
                                </li>
                                <li>[% est %] EST sequences, 57% of which aligned to the genome
                                </li>
                                <li>
                                  <h3>  Start by browsing a sample <a href="/[% species
                                  %]/gene/DPU_G0051088">Gene Page</a> </h3>
                                </li> 

                                <!--<li>14097 Gene Predictions from Geneid-->

                                </ul>
																<br/>
                            		The [% abbr %] genome was sequenced as a collaboration
                            		between the Joint Genome Institute and Baylor College of
                            		Medicine. Please cite: <br/><br/>
                            		Comparative genomics of the social amoebae Dictyostelium
                            		discoideum and Dictyostelium purpureum, 
                            		Richard Sucgang,  Alan Kuo,  Xiangjun Tian,  William
                            		Salerno,  Anup Parikh,  Christa L. Feasley,  Eileen Dalin,
                            		Hank Tu,  Eryong Huang,  Kerrie Barry,  Erika Lindquist,
                            		Harris Shapiro,  David Bruce,  Jeremy Schmutz,  Petra Fey,
                            		Pascale Gaudet,  Christophe Anjard,  Madan Babu Mohan,
                            		Siddhartha Basu,  Yulia Bushmanova,  Hanke van der Wel,
                            		Mariko Katoh,  Pedro M. Coutinho,  Tamao Saito,  Marek
                            		Elias,  Pauline Schaap,  Robert R. Kay,  Bernard
                            		Henrissat,  Ludwig Eichinger,  Francisco Rivero-Crespo,
                            		Nicholas H. Putnam,  Christopher M. West,  William F.
                            		Loomis,  Rex Chisholm,  Gad Shaulsky,  Joan E. Strassmann,
                            		David C. Queller,  Adam Kuspa and Igor Grigoriev
                            		(manuscript submitted,  2010) 


                                                            <!-- Central Column end -->
                        </div>
                    </div>
                    <div class="column-left">
                        <div id="column-left-content">
                            <!-- Left Column start -->
                            <!---
                            <h4>
                                Announcements<br/>
                            </h4>
                            <div class="info wide">
                                Just added
                                <a href="/[% species %]">[% genus %] [% species %]portal</a>
                            </div>

                            <div class="warning wide">
                                Oops!
                            </div>
=-->
                            <!-- Left Column end -->
                        </div>
                    </div>
                    <div class="column-right">
                        <!-- Right Column start -->
                        <!-- Right Column end -->
                    </div>
                </div>
            </div>

