[% USE gbrowse = url("/$species/gbrowse/") %]

[% 
title = 'D. purpureum Chromosomal Information'
%]


[% PROCESS "page-header.tt" 
	require = "toolbar-body"
%]

<body class="yui-skin-sam">
    [% PROCESS "$species/tbar.tt" %]
    <div class="wrapper threecol">
        <div id="subnav">
            <div class="inner_container">
                <h3>
                    Chromosomal Information
                </h3>
            </div>
        </div>
        <div class="wrapper-left-center">
            <div class="wrapper-columns">
                <div class="column-center">
                    <div id="column-center-content">
                    <!-- Central Column start -->
                        <p align="right"><a target="new" href="[% host %]/[% species %]/downloads">Back to Downloads</a></p>
                        
                        <h2>The D. purpureum genomic sequence is present in 838 unassembled contigs.</h2>
                        <h3>Click on the contig name to view corresponding region in Genome Browser</h3>

                        
                        <table class="download">                    
                            <tr class="row1">
                                <td>Contig name</td><td>Contig length (nt)</td><td>Number of genes</td>
                            </tr>

                        	[% FOREACH item IN data %]
    	                			<tr class="row2">
    		                			<td> <a href="[% gbrowse(name = item.0) %]">[% item.0 %]</a> </td>
    		                			<td> [% item.1 %] </td>
    		                			<td> [% item.2 %] </td>
			            					</tr>
		                			[% END %]
		                		</table>
											
																							
                     </div>


							[%# template for paging %]
												[% IF pager %]

													[% PROCESS pager.tt 
														url_path = "contig"
													%]

												[% ELSE %]
                        	<p align="center">
                        		<a href="[% host %]/[% species %]/contig/page/1">
                        			View with paging 
                        		</a>
                        	</p>
												[% END %]

												

                     <div class="column-left">
                        <div id="column-left-content">
                            <!-- Left Column start -->
                            <!---
                            <h4>
                                Announcements<br/>
                            </h4>
                            <div class="info wide">
                                Just added
                                <a href="/purpureum/">Dictiostelium Purpureum portal</a>
                            </div>

                            <div class="warning wide">
                                Oops!
                            </div>
=-->
                            <!-- Left Column end -->
                        </div>
                    </div>
                    <div class="column-right">
                        <!-- Right Column start -->
                        <!-- Right Column end -->
                    </div>
                </div>
            </div>
	    </div>
    [% PROCESS "page-footer.tt" %]
    </body>
</html>
