<div id="subnav">
    <div class="inner_container">
        <h3>Downloads</h3>
    </div>
</div>
    <div class="wrapper-left-center">
        <div class="wrapper-columns">
            <div class="column-center">
                <div id="column-center-content">
                <!-- Central Column start -->
                    <h3>All data produced by the D. purpureum Genome Project are publicly available. Please cite:</h3>
                    <br>
                    Comparative genomics of the social amoebae Dictyostelium discoideum and Dictyostelium purpureum, 
                    <br/>
                    Richard Sucgang, Alan Kuo, Xiangjun Tian, William Salerno, Anup Parikh, Christa L. Feasley, 
                    Eileen Dalin, Hank Tu, Eryong Huang, Kerrie Barry, Erika Lindquist, Harris Shapiro, David Bruce, 
                    Jeremy Schmutz, Petra Fey, Pascale Gaudet, Christophe Anjard, Madan Babu Mohan, Siddhartha Basu, 
                    Yulia Bushmanova, Hanke van der Wel, Mariko Katoh, Pedro M. Coutinho, Tamao Saito, Marek Elias, 
                    Pauline Schaap, Robert R. Kay, Bernard Henrissat, Ludwig Eichinger, Francisco Rivero-Crespo,
                    Nicholas H. Putnam, Christopher M. West, William F. Loomis, Rex Chisholm, Gad Shaulsky, 
                    Joan E. Strassmann, David C. Queller, Adam Kuspa and Igor Grigoriev (manuscript submitted, 2010)
                    <br/><br/>

                    <table class="download">
                        <col width="75%"/><col width="25%"/>
                        <tr class="row1"><td colspan="2">Gene Information</td></tr>
                        <tr class="row2"><td>DPU_G - JGI mapping</td><td>
                        <a href="/[% species %]/downloads?file=GeneID-JGI.txt">[tab-delimited]</a></td></tr>
                    </table>
                    <br/>
                    <table class="download">
                        <col width="75%"/><col width="25%"/>
                        <tr class="row1"><td colspan="2">Sequences and Alignments</td></tr>
                        <tr class="row2"><td>Sequences in FASTA format</td><td>
                        <a href="/[% species %]/downloads/fasta">[fasta download area]</a></td></tr>

                        <tr class="row2"><td>D. discoideum proteins aligned on D. purpureum genome by TBLASTN (75%)</td><td><a
                            href="/[% species %]/downloads?file=matched.ddb.gz">[zip file]</a></td></tr>
                        
                        <tr class="row2"><td>D. discoideum proteins with no hits in D. purpureum
                            (25%)</td><td><a href="/[% speceis %]/downloads?file=unmatched.ddb.gz">[zip file]</a></td></tr>

                        <tr class="row2"><td>ESTs aligned to the genome by BLASTN (57%)</td><td><a
                            href="/[% species %]/downloads?file=aligned_ests.fa.gz">[zip file]</a></td></tr>

                        <tr class="row2"><td>ESTs with no hits on the genome (43%)</td><td><a
                            href="/[% species %]/downloads?file=unaligned_ests.fa.gz">[zip file]</a></td></tr>
                    </table>
                    <br/>
                    <table class="download">
                        <col width="75%"/><col width="25%"/>
                        <tr class="row1"><td colspan="2">Chromosomal Information</td></tr>
                        <tr class="row2"><td>Information  about 838 unassembled contigs with links to Genome Browser</td><td><a href="/[% species %]/contig">[view]</a></td></tr>
                    </table> 
                   
 
                </div>
                <div class="column-left">
                    <div id="column-left-content">
                    <!-- Left Column start -->
                    <!-- Left Column end -->
                    </div>
                </div>
                <div class="column-right">
                <!-- Right Column start -->
                <!-- Right Column end -->
                </div>
            </div>
        </div>
    </div>



