<table cellspacing="10" width="100%"><tr><td>
<table class="download">
      <col width="75%"/><col width="25%"/>
      <tr class="row1"><td colspan="2">Predicted sequences</td></tr>
      <tr class="row2">
      	<td>
      		<a href="/[% species %]/downloads/fasta?file=dpur_predictions_genomic.gz">Genomic sequences</a>
      		</tr>
      	</td>
      	<tr class="row2">
      	<td>
      		<a href="/[% species %]/downloads/fasta?file=dpur_predictions_coding.gz">Coding sequences </a>
      		</tr>
      	</td>
      	<tr class="row2">
      	<td>
      		<a href="/[% species %]/downloads/fasta?file=dpur_predictions_protein.gz">Protein sequences</a>
      	</td>
     	</tr>
</table>
<br/>
<table class="download">
      <col width="75%"/><col width="25%"/>
      <tr class="row1"><td colspan="2">JGI sequences</td></tr>
      <tr class="row2">
      	<td>
      		<a href="/[% species %]/downloads/fasta?file=dpur_genomic.gz">Genomic sequences</a>
      	</td>
      	</tr>
      	<tr class="row2">
      	<td>
      		<a href="/[% species %]/downloads/fasta?file=dpur_coding.gz">Coding sequences</a>
      	</td>
      	</tr>
      	<tr class="row2">
      	<td>
      		<a href="/[% species %]/downloads/fasta?file=dpur_protein.gz">Protein sequences</a>
      	</td>
     	</tr>
</table>
<br/>
<table class="download">
<tr class="row1"><td colspan="2"><a href="/[% species %]/downloads/fasta?file=dpur_supercontig.gz">Supercontig sequence</a>
</td></tr>
</table>
</table>


