[% title = 'Gene Summary' %]

 [% PROCESS "page-header.tt" 
	require = "toolbar-body-gene"
 %]

    <body class="yui-skin-sam">
        <div class="wrapper threecol">

        	[% PROCESS "$species/tbar.tt" %]
        	[% PROCESS "$species/genebody.tt" %]
        	[% PROCESS "page-footer.tt" %]
        </div>
    </body>
</html>
