        <div id="shadow-container">
            <div class="shadow">
                <div id="container-top">
                	[% IF label %]
                        <div id="descriptor">
                            <b>[% genus %] [% species %]</b> 
                        </div>
					[% END %]
                    <table>
                        <tr>
                            <td rowspan="2">
                                [% IF link_to == "base" %]
                                    <a href = "/">
                                [% ELSE %]
                                    <a href = "/[% species %]">
                                [% END %]
                             <img src="/static/images/logo.gif"></a>
                            </td>
                            <td colspan="4">
                                <div id="container-help">
                                    <img src="/static/images/help-left.gif">
                                    <div>
                                        <a href="/db/cgi-bin/dictyBaseDP/suggestion">Contact us</a>
                                    </div>
                                    <img src="/static/images/help-right.gif">
                                </div>
                            </td>
                        </tr>
                        <tr class="menu">
                            <td>
                                <img src="/static/images/purpureum/menu-top-left.gif">
                            </td>
                            <td>
                                <div id="menu-top" class="yuimenubar yuimenubarnav">
                                    <div class="bd">
                                        <ul class="first-of-type">
                                            <li class="yuimenubaritem first-of-type">
                                                <a class="yuimenubaritemlabel" href="/">Genomes</a>
                                                <div id="gbrowse" class="yuimenu">
                                                    <div class="bd">
                                                        <ul class="first-of-type">
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="/discoideum">Dictyostelium discoideum</a>
                                                            </li>                                                            
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="/purpureum">Dictyostelium purpureum</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="yuimenubaritem">
                                                <a class="yuimenubaritemlabel" href="/purpureum/gbrowse/">Genome Browser</a>
                                                <div id="gbrowse" class="yuimenu">
                                                    <div class="bd">
                                                        <ul class="first-of-type">
                                                            <li class="yuimenuitem">
                                                                <a
                                                                class="yuimenuitemlabel"
                                                                href="/purpureum/contig">List
                                                                of scaffolds</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="yuimenubaritem ">
                                                <a class="yuimenubaritemlabel" href="/tools/blast">BLAST</a>
                                            </li>
                                            <li class="yuimenubaritem">
                                                <a class="yuimenubaritemlabel" href="/purpureum/downloads">Download</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <img src="/static/images/purpureum/menu-top-right.gif">
                            </td>
                            <td style="width:100%;">
                                <form action="/db/cgi-bin/search/search.pl">
                                    <input name="query" type="text" size="30" value="use * as a wildcard character"> <nobr><input type="submit" name="submit" value="Search All"> <input type="submit" name="genes_only" value="Gene Names Only"></nobr>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

