   <TR>
      <TD class="topMenu" height="44" width="40%">
         <a href=# onmouseover='shiftmenu_forMac(event,"genome_browser");popup("genome_browser");' onmouseout=popdn()>Genome&nbsp;Browser</a>
      </TD>
      <TD class="topMenu" width="30%">
	     <a href=# onmouseover='shiftmenu_forMac(event,"blast");popup("blast");' onmouseout=popdn()>BLAST</a>
      </TD>

<!--- 
      <TD class="topMenu" width="25%">
         <a href="#">dictyMartDP (Coming soon)</a>
      </TD>
      <TD class="topMenu" width="15%">
         <a href=# onmouseover='shiftmenu_forMac(event,"faq");popup("faq");' onmouseout=popdn()>Help</a>
      </TD>

      <TD class="topMenu" width="15%">
         <a href=# onmouseover='shiftmenu_forMac(event,"links");popup("links");' onmouseout=popdn()>Links</a>
      </TD>
---->
      <TD class="topMenu" width="30%">
         <a href="/db/cgi-bin/dictybaseDP/suggestion">Contact Us</a>
      </TD>
   </TR>
   <TR>
      <TD class="blue" align="left" height="2">
         <script>PlaceMenu("genome_browser")</script>
      </TD>
      <TD class="blue" align="left">
         <script>PlaceMenu("blast");</script>
      </TD>
      <TD class="blue" align="left">
      </TD>
      <TD class="blue" align="left">
         <script>PlaceMenu("faq");</script>
      </TD>
      <TD class="blue" align="left">
         <script>PlaceMenu("links");</script>
      </TD>
      <TD class="blue" align="left">
      </TD>
   </TR>
